@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f8fc;    
}

.title { 
    position: fixed;
    top: 0;
    width: 40%;
    height: 70px;
}

nav {
    display: flex;
    justify-content: center;
    

}

img {
    width: 100%;
    height: 100%;
    position: absolute;
    
}

.kanban {
    display: flex;
    gap: 14px;
    padding: 24px;
    width: 100%;
    height: 90vh;
    overflow-x: auto;
    
}

.kanban-column {
    display: flex;
    flex-direction: column;
    gap: 18px;
    
    height: 100%;
    overflow-y: auto;
    background-color: #f6f8fc90;
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 12px;
    overflow: hidden;
    position: relative;
    min-width: 252px;
}

.kanban-column::after {
    position: absolute;
    content: '';
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
    
}

.kanban-column[data-id="1"]::after {
    background-color: #d573b6;
}

.kanban-column[data-id="2"]::after {
    background-color: #fea065;
}

.kanban-column[data-id="3"]::after {
    background-color: #fed565;
}

.kanban-column[data-id="4"]::after {
    background-color: #92a5fb;
}

.kanban-column[data-id="5"]::after {
    background-color: #6ed0bc;
}

.kanban-title {
    display: flex;
    justify-content: space-between;
}

.kanban-title h2 {
    font-size: 18px;
    color: #191d22;
    font-weight: 600;
}

.add-card {
    color: #4b5563;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.kanban-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    
}

.kanban-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #f4dddd;
    border-radius: 14px;
    padding: 10px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.badge {
    color: #ffffff;
    width: fit-content;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
}

.badge.high {
    background-color: #d573b6;
}

.badge.medium {
    background-color: #fea065;
}

.badge.low {
    background-color: #92a5fb;
}

.card-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.card-icons {
    display: flex;
    gap: 18px;
}

.card-icons i {
    color: #a8a8aa;
}

.user img {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    object-fit: cover;
}

.dragging {
    opacity: 0.5;
}

.cards-hover {
    background-color: #395694;
    border-radius: 8px;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: #8a9abf;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: #b9f4c6;
    border-radius: 20px;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22282f06;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 15px 20px;
}

.main-header h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1.5em;
}



/*ESTILO DA NAVBAR*/

.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #3f4e5f52;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   z-index: 1000;
   padding: 15px 0;
}

.menus {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.manu a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #f6f8fc;
}
